#Default {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
nav ul {
  display: flex;
  gap: 5px;
  margin-left: 30%;
}
nav ul li {
  list-style: none;
  border: 1px solid black;
  border-radius: 5px;
  width: 2rem;
  height: 2rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgb(94, 95, 95, 0.3);
  padding: 2px;
}
.logo__area {
  display: flex;
  font-weight: 700;
}
.logo__area img {
  width: 7rem;
}
